@import 'tailwindcss';

@font-face {
	font-family: 'Regular';
	src: url('../../public/fonts/Poppins-Regular.ttf');
}

body {
	font-family: 'Regular';
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
